{% extends 'base.html.twig' %}

{% block title %}Toiles et Papiers{% endblock %}

{% block body %}
    <div class="te-admin-grid">
    <aside class="te-admin-aside te-height-cat">
        {{ include('admin/includes/_aside.html.twig') }}
    </aside>
   <main class="te-admin-main d-flex justify-content-center flex-column">
        <h1 class="text-center fs-2 mt-3">Liste des utilisateurs</h1>
        <div class="container mt-3">
            <div class="">
                <table class="table">
                    <thead>
                    <tr>
                        <th  class="te-col-name">Fullname</th>
                        <th  class="te-col-desc">Roles</th>
                        <th  class="te-col-desc">Email</th>
                        <th  class="te-col-desc">Nbre de commentaire</th>
                        <th  class="te-col-desc text-center">Modifier</th>
                        <th  class="te-col-desc text-center">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    {{ dump() }}
                       <tr>
                            <td class="te-col-name">{{ user.fullname }}</td>
                            <td class="te-col-desc">{{ user.roles.0 }}</td>
                            <td class="te-col-desc">{{ user.email }}</td>
                           <td class="te-col-desc">{{ user.comments| length }}</td>
                            <td class="te-col-desc"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}