{% extends 'base.html.twig' %}

{% block title %}Toiles et Papiers{% endblock %}

{% block body %}
    <div class="te-grid te-vh">
        <aside class="d-flex justify-content-center align-items-center">
            <img class="te-show-img m-3" src="{{ asset('uploads/images/paint/') }}{{ paint.paintImage }}"
                 alt="{{ paint.paintImage }}" id="fullscreenButton">
        </aside>

        <main class="d-flex flex-column align-items-center">
            <div class="te-show-phone">
            {# Partie titre #}
            <h1 class="text-center mt-md-3 fs-1">{{ paint.paintName }}</h1>
            <h2 class="text-center my-3 fs-4 mb-5">{{ paint.taille }}</h2>
                <div class="d-flex">
                    <p class="mb-1 me-1">Retour catégorie :</p><a class="dropdown-item"
                                                           href="{{ path('show_cat',{ slug: paint.category.slug}) }}"><span
                                class="te-border-cat"> {{ paint.category }}</span></a>
                </div>
                <h3 class="te-font-section mt-0 mb-0">Description : </h3>
                <hr class="w-md-75 mt-0 me-md-5">
                <p class="me-md-5 w-md-75 te-p">{{ paint.description }}</p>

                {% if paint.inspiration != "" %}
                    <h3 class="te-font-section mt-5 mb-0">Inspiration :</h3>
                    <hr class="w-md-75 mt-0 me-md-5">
                    <div class="d-md-flex te-grid-inspi">
                        <p class=" w-md-50 me-3 te-p te-grid-textInspi">{{ paint.inspiration }}</p>
                            {% if paint.ImageInspiration != "" %}
                        <div class="d-flex justify-content-center ">
                                <img class="te-img-inspi te-grid-imageInspi"
                                     src="{{ asset('uploads/images/paint/') }}{{ paint.ImageInspiration }}"
                                     alt="">
                        </div>
                            {% endif %}
                    </div>
                {% endif %}
            </div>
        </main>

      {% include "./includes/_formComment.html.twig" %}
    </div>
{% endblock %}

