{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container d-flex justify-content-center">

        <div class="d-flex flex-column justify-content-center align-items-center te-form te-shadow te-form-m w-75">
            <h1 class="h3 mb-3 font-weight-normal text-center">INSCRIPTION</h1>

            {{ form_errors(registrationForm) }}

            <div class="w-75">
                {{ form_start(registrationForm) }}
                <label for="inputFullName">Nom Prénom</label>
                <input
                        name="{{ field_name(registrationForm.fullname) }}"
                        id="inputFullName"
                        type="text" class="form-control">
                <label for="inputEmail">Email</label>
                <input
                        name="{{ field_name(registrationForm.email) }}"
                        id="inputEmail"
                        type="text" class="form-control">
                <label for="password">Mot de Passe</label>
                <input
                        name="{{ field_name(registrationForm.plainPassword) }}"
                        id="password"
                        type="text" class="form-control" >
                {{ form_row(registrationForm.agreeTerms) }}


                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg te-btn w-50 mt-3">Enregistrer</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
